.icon-shop-establish{
    width: 180px;
    height: 180px;
    border-radius: 2%;  
}

.div-items-shop-establish{
    height: 430px;
}

.card-shop-title-subtitle{
    height: 180px;
}

.icon-estrela-shop{
    width: 40px;
    height: 40px;
}