.grid-home-width {
  max-width: 1166px;
}

.shadow-home-header {
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.35));
}

.shadow-home-form {
  filter: drop-shadow(5px 0px 30px rgba(0, 0, 0, 0.45));
}

.shadow-about-us {
  box-shadow: 6px 9px 20px 0px rgba(0, 0, 0, 0.55);
}

.linear-gradient-about-us {
  background: linear-gradient(
    180deg,
    #1c6356 11.83%,
    #0f3d3a 55.45%,
    #041720 80.25%
  );
}

.page-layout-1x {
  height: 768px;
}

.page-layout-2x {
  height: 1536px;
}

.page-home-form {
  clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
}

.page-background-about-us {
  background: rgba(0, 0, 0, 0.3);
}

.bg-image-home {
  background: linear-gradient(90deg, #fff 22.75%, rgba(255, 255, 255, 0) 69.51%),
    url("../img/banner-home.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media not all and (min-width: 768px) {
  .height-image {
    width: 400px;
    height: 750px;
  }
}

.page-layout-background {
  background: #1c6356 11.83%;
  clip-path: polygon(0 0%, 100% 100%, 100% 100%, 0% 100%);
}
